/* ================================= */
/* 全ページ共通 */
/* ================================= */

/* body{

}

button{

}

input{

}

.hidden{

} */
/* ================================= */
/* 全ページ共通 */
/* ================================= */


/* 共通ボタン */

button {
    cursor: pointer;
}


/* 共通入力欄 */

input,
textarea,
select {
    font-family: inherit;
}


/* 非表示 */

.hidden {
    display: none;
}